@import './base.css';

#app {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    padding: 0;
  }
}

/* My edits */
main {
  padding-top: 90px;
}

header {
  position: absolute;
  height: 70px;
  width: 100%;
  vertical-align: top;
}

#headerAll {
  display: block;
  float: right;
  padding-right: 10px;
}

#headerAvatar {
  display: inline-block;
  padding: 0 1em 0 0;
  border-radius: 100%;
  vertical-align: middle;
  margin: 5px;
}

#headerAvatar img {
  border-radius: 100%;
  border: 2px solid purple;
}

#headerName {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;

}

#headerSignOut {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;

}